@model LoginModel
@{
    Layout = "_Layout";

}
<h1>Login</h1>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBoxFor(u => u.UserName)
    </div>
    <div>
        @Html.PasswordFor(p => p.Password)
    </div>
    <div>
        @Html.HiddenFor(m => m.ReturnUrl)
        <input type="submit" value="Submit" />
    </div>
}